.section{
    margin-top:  6.25rem;
}
.section>div{
    margin-top: 2rem;

    display:  flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.section img{
    width: 32px;
    height: 32.375px;
}
.section>div>div{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0 1.625rem;
}