.cardTecnology{
    width: 19.75rem;
    height: 5.25rem;
    flex-basis: calc(33.33% - 1.25rem);

    border-radius: 1.5rem;
    border: 1px solid rgba(255, 255, 255, 0.50);

}

.cardProjects{
    width: 27rem;
    height: 11.4375rem;

    display: flex;
    flex-direction: column;
    gap: 1.625rem;
    
    padding: 1.5rem;

    border-radius:1.5rem ;
    border: 1px solid rgba(255, 255, 255, 0.50);
}
.cardProjects>div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}